body {
    background-color: darkred;
}

.border {
    border: 2px solid darkgreen!important;
}

.err {
    color: darkred;
    display: none;
}

h1 {
    color: darkgreen;
    font-weight: bolder;
}

legend {
    color: darkgreen;
    font-variant: small-caps;
}

#main {
    background-color: white;
}

